defaults:
  - base_rl_config
  - _self_

device: auto
project_dir: ./projects/output/rl/v2v_policy
scenario_dir: ../../data/highd-dataset-converted
seed: 0
warmstart: False
profile: False

training:
  wandb_logging: True
  checkpoint_freq: 50000
  eval_freq: 10
  gradient_save_freq: 1
  log_freq: 1
  n_envs: 1
  n_eval_episodes: 10
  normalize_observations: False
  normalize_rewards: False
  normalize_rewards_threshold: 10.0
  record_backoff: 1.0
  video_frequency: 10000
  total_timesteps: 1_000_000
  verbose: 0
  video_length: 1000

model:
  gae_lambda: 0.8
  gamma: 0.99
  n_epochs: 8
  ent_coef: 1e-2
  n_steps: 256
  batch_size: 32
  vf_coef: 0.5
  max_grad_norm: 10.0
  learning_rate: 5e-4
  clip_range: 0.2
  gnn_out_dim: 80
  gnn_hidden_dim: 80
  gnn_layers: 3

experiment:
  data_padding_size: 200
  edge_drawer_class_name: "KNearestEdgeDrawer"  # or "VoronoiEdgeDrawer"  
  dist_threshold_v2v: 50.0
  edge_drawer_k: 3
  ego_map_radius: 50.0
  
  render_on_step: False
  render_debug_overlays: True
  enable_traffic: True
  raise_exceptions: False

  linear_lanelet_projection: True
  enable_waypoint_resampling: True
  lanelet_waypoint_density: 10

  spawning:
    min_goal_distance: 100.0
    max_goal_distance: 150.0
    min_vehicle_distance: 10.0